html{
  background-color:#111827 ;
}
.swiper {
  width: auto;
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(blue,white);
}
.text-secondary{
  color:#0cdefa ;
}
.text-primary{
  color: #111827;
}
.h-vh{
  height: 95vh;
}
@font-face {
  font-family:moulbali ;
  src: url(./font/moulpali/Moulpali-Regular.ttf);
}
.font-moulbali{
  font-family: moulbali;
}
html{
  font-family: 'Courier New', Courier, monospace;
}