html{
  background-color:#111827 ;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(blue,white);
}
.text-secondary{
  color:#0cdefa ;
}
.text-primary{

}