/* html{
  background-color:#111827 ;
} */
.swiper {
  width: auto;
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
}

.absolute-top{
  position:absolute;
  top: -30px;
  left: -50px;

}
.icon-secondary{
  fill: #0cdefa;
}
.text-secondary{
  color:#0cdefa ;
}
.bg-secondary{
  background-color:#0cdefa ;
}
.bg-primary{
  background-color: #111827 ;
}
.text-primary{
  color: #111827;
}
.backgroundImage{
  background-image: url(../src/icon/image1.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
  --tw-bg-opacity: 0.8;
}
.h-vh{
  height: 95vh;
}
@font-face {
  font-family:moulbali ;
  src: url(./font/moulpali/Moulpali-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(./font/kohsantepheap/KohSantepheap-Regular.ttf)
}
.font-moulbali{
  font-family: moulbali;
}
.cursive-font{
  font-family: montserret;
  font-size: medium;
  letter-spacing: 2px;
}
.hide-scrollbar{
  display:flex;
  overflow-x: scroll;
  /* scrollbar-color:linear(transparent ,#0cdefa) rgba(245, 245, 245, 0) ; */
  /* scrollbar-width: thin; */
}
html::-webkit-scrollbar{
  width: 0.8vw;
}
html::-webkit-scrollbar-track{
  background: #d1e5ff00;
}
html::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#0cdefa);
  border-radius: 10px;
  height: 0px;
}
.hide-scrollbar::-webkit-scrollbar{
  width: 0.8vw;
  height: 1vw;
}
.hide-scrollbar::-webkit-scrollbar-track{
  background: #d1e5ff44;
}
.hide-scrollbar::-webkit-scrollbar-thumb{
  background:linear-gradient(to right ,transparent 20%,#0cdefa);
  border-radius: 10px;

}
.container-youtube {
  width: 100%;
  height: 100%;
  z-index: auto;
}
@media (max-width: 640px) {
  .container-youtube {
      width: 100%;
      height: 70%;
      z-index: auto;
  }
}
/* @media (min-width: 640px) {
  .container-youtube {
    width: 500px;
    height: 300px;
  }
} */
/* @media (min-width: 1150px) {
  .container-youtube {
    width: 700px;
    height: 400px;
  }
} */