/* html{
  background-color:#111827 ;
} */
.swiper {
  width: auto;
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
}

.absolute-top{
  position:absolute;
  top: -30px;
  left: -50px;

}
.icon-secondary{
  fill: #0cdefa;
}
.text-secondary{
  color:#0cdefa ;
}
.bg-secondary{
  background-color:#0cdefa ;
}
.bg-primary{
  background-color: #111827 ;
}
.text-primary{
  color: #111827;
}
.backgroundImage{
  background-image: url(../src/icon/bestlogo.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
  --tw-bg-opacity: 0.8;
}
.h-vh{
  height: 95vh;
}
@font-face {
  font-family:moulbali ;
  src: url(./font/moulpali/Moulpali-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(./font/kohsantepheap/KohSantepheap-Regular.ttf)
}
.font-moulbali{
  font-family: moulbali;
}
.cursive-font{
  font-family: montserret;
  font-size: medium;
  letter-spacing: 2px;
}
.hide-scrollbar{
  display:flex;
  overflow-x: scroll;
  /* scrollbar-color:linear(transparent ,#0cdefa) rgba(245, 245, 245, 0) ; */
  /* scrollbar-width: thin; */
}
html::-webkit-scrollbar{
  width: 0.8vw;
}
html::-webkit-scrollbar-track{
  background: #d1e5ff00;
}
html::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#0cdefa);
  border-radius: 10px;
  height: 0px;
}
.hide-scrollbar::-webkit-scrollbar{
  width: 0.8vw;
  height: 1vw;
}
.hide-scrollbar::-webkit-scrollbar-track{
  background: #d1e5ff44;
}
.hide-scrollbar::-webkit-scrollbar-thumb{
  background:linear-gradient(to right ,transparent 20%,#0cdefa);
  border-radius: 10px;

}
.container-youtube {
  width: 100%;
  height: 100%;
  z-index: auto;
}
@media (max-width: 640px) {
  .container-youtube {
      width: 100%;
      height: 80%;
      z-index: auto;
  }
}
/* @media (min-width: 640px) {
  .container-youtube {
    width: 500px;
    height: 300px;
  }
} */
/* @media (min-width: 1150px) {
  .container-youtube {
    width: 700px;
    height: 400px;
  }
} */
.custom-select {
	position: relative;
	display: inline-block;
}

.select-selected {
	background-color: #f7f7f7;
	color: #333333;
	padding: 5px 10px;
	cursor: pointer;
}

/* Style the dropdown items */
.select-items {
	position: absolute;
	display: none;
	background-color: #d88181;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	z-index: 1;
	width: 100%;
}

/* Style the dropdown items */
.select-items div {
	padding: 10px;
	cursor: pointer;
}

/* Style the dropdown items on hover */
.select-items div:hover {
	background-color: #c69c9c;
}
.bg-logo{
  border-radius: 25px;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  background-image: url(./icon/bestlogo.jpg);
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 350px) {
  .bg-logo{
    height:120px;
  }
}
@media (min-width:640px) {
  .bg-logo{
    height: 210px;
  }
}
@media (min-width:765px) {
  .bg-logo{
    height: 250px;
  }
}
.basic-multi-selec{
  width: 200px;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
