
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
::-webkit-scrollbar-track{
    background-color: rgb(228, 133, 16);
  }

.hide-scrollbar{
    display:flex;
    overflow-x: scroll;
    scrollbar-color:#0cdefa rgba(245, 245, 245, 0) ;
}

#hiddenn{
    transform: translateY(-100%);
}